# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-alt-c': 'carbon-copy:toggle'
'.editor':
  'cmd-alt-1': 'carbon-copy:copy1'
  'cmd-alt-2': 'carbon-copy:paste1'
  'cmd-alt-3': 'carbon-copy:copy2'
  'cmd-alt-4': 'carbon-copy:paste2'
  'cmd-alt-5': 'carbon-copy:copy3'
  'cmd-alt-6': 'carbon-copy:paste3'
